// BACKGROUNDS

//  COLOURS
$color-dark-grey: #545454;
$color-orange: #ffae4e;
$color-bg-predominant: #f1f1f2;
$color-bg-cream: #fff4c9;
$color-black: #000000;

// TRANSITIONS
$default-transition: all 0.3s;

// TYPOGRAPHY
$font-size-xlg: 6rem;
$font-size-lg: 4rem;
$font-size-md: 3rem;
$font-size-sm: 2.4rem;
$font-size: 1.6rem;

$font-color: #3b3d41;
