// BACKGROUNDS

:root {
    --color-bg-cream: #fff4c9;
    --color-bg-whitecream: #f1f1f2;
}

.bg.bg-cream {
    background-color: var(--color-bg-cream);
    margin-bottom: 0;
}

.bg.bg-whitecream {
    background-color: var(--color-bg-whitecream);
    margin-bottom: 0;
}

//  COLOURS
$color-dark-grey: #545454;
$color-primary: #ffae4e;
$color-orange: #ffae4e;
$color-bg-predominant: #f1f1f2;
$color-bg-cream: var(--color-bg-whitecream);
$color-black: #000000;

// TRANSITIONS
$default-transition: all 0.3s;

// TYPOGRAPHY
$font-size-xlg: 4rem;
$font-size-lg: 3.2rem;
$font-size-md: 3rem;
$font-size-sm: 2.4rem;
$font-size-xs: 1.8rem;
$font-size: 1.6rem;

$font-color: #3b3d41;
