---
layout: default
title: Contact | Epic Landscape Designs
scripts:
- /assets/js/form.js
---


<div class="bg bg-whitecream bg-pattern--fern">
    {% include fern-decoration.html %}
    <div class="contact container">
        <!-- Contact Header -->
        <section class="page__header">
            <h1 class="page__title">{{ site.data.contact-page.title }}</h1>
            <p class="page__description">{{ site.data.contact-page.description }}</p>
        </section>
        {% include contact-form.html %}
    </div>
</div>