<section class="contact-info-section">
    <div class="container">
        <div class="contact-info-wrapper">
            <h1 class="contact-info-title">Contact Us</h1>
            <div class="contact-info-grid">
                <div class="contact-info-item">
                    <div class="contact-icon">
                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>Phone</title>
                            <path
                                d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z" />
                        </svg>
                    </div>
                    <h3>Phone</h3>
                    <p><a href="tel:0402263190">0402 263 190</a></p>
                </div>
                <div class="contact-info-item">
                    <div class="contact-icon">
                        {% include svg/gmail.svg %}
                    </div>
                    <h3>Email</h3>
                    <p><a href="mailto:info@epiclandscapedesigns.com.au">info@epiclandscapedesigns.com.au</a></p>
                </div>
                <div class="contact-info-item">
                    <div class="contact-icon">
                        {% include svg/google.svg %}
                    </div>
                    <h3>Office Address</h3>
                    <p>11 York St, Sydney NSW 2000</p>
                </div>
            </div>
        </div>
</section>