<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>Contact Us</h4>
            <p>If you have any questions or need help, feel free to contact with our team.</p>
            <a href="mailto:info@epiclandscapedesigns.com.au">
                <i class="fas fa-envelope"></i>info@epiclandscapedesigns.com.au
            </a>
        </div>

        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Social Media</h4>
            <div class="social-links">
                <a target="_blank" href="https://www.facebook.com/epiclandscapedesigns">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/@EpicLandscapeDesignsAustralia">
                    <i class="fab fa-youtube"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/epiclandscapedesigns/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a target="_blank"
                    href="https://www.google.com/maps/place/Epic+Landscape+Designs/@-33.8652321,151.2029452,17z/data=!3m1!5s0x6b12ae40e42da1f5:0x1e54ca823660f2f8!4m8!3m7!1s0x6b12af39847c6203:0x12ec1af4a657e19!8m2!3d-33.8652366!4d151.2055201!9m1!1b1!16s%2Fg%2F11lznkzgjn?entry=ttu&amp;g_ep=EgoyMDI1MDYxMS4wIKXMDSoASAFQAw%3D%3D">
                    <i class="fab fa-google"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 Epic Landscape Designs. All rights reserved</p>
    </div>
</footer>