<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <a class='icon' href="tel:0402263190">
                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <title>Phone</title>
                    <path
                        d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z" />
                </svg>
                <span>0402 263 190</span>
            </a>
        </div>

        <div class="footer-section">
            <div class="social-links">
                <a class='icon' target="_blank" href="https://www.facebook.com/epiclandscapedesigns"
                    aria-label="Facebook">
                    {% include svg/facebook.svg %}
                </a>
                <a class='icon' target="_blank" href="https://www.youtube.com/@EpicLandscapeDesignsAustralia"
                    aria-label="YouTube">
                    {% include svg/youtube.svg %}
                </a>
                <a class='icon' target="_blank" href="https://www.instagram.com/epiclandscapedesigns/"
                    aria-label="Instagram">
                    {% include svg/instagram.svg %}
                </a>
                <a class='icon' target="_blank"
                    href="https://www.google.com/maps/place/Epic+Landscape+Designs/@-33.8652321,151.2029452,17z/data=!3m1!5s0x6b12ae40e42da1f5:0x1e54ca823660f2f8!4m8!3m7!1s0x6b12af39847c6203:0x12ec1af4a657e19!8m2!3d-33.8652366!4d151.2055201!9m1!1b1!16s%2Fg%2F11lznkzgjn?entry=ttu&amp;g_ep=EgoyMDI1MDYxMS4wIKXMDSoASAFQAw%3D%3D"
                    aria-label="Google Maps">
                    {% include svg/google.svg %}
                </a>
            </div>
        </div>
        <div class="footer-section">
                <a class='icon' href="mailto:info@epiclandscapedesigns.com.au">
                    {% include svg/gmail.svg %}
                    <span>info@epiclandscapedesigns.com.au</span>
                </a>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2025 Epic Landscape Designs. All rights reserved
    </div>
</footer>