<section class="hero">
    <div class="hero-logo">
        <div class="hero-logo-desktop">
            {% include svg/logo.html %}
        </div>
        <div class="hero-logo-mobile">
            {% include svg/logo-mobile.html %}
        </div>
    </div>
    <div class="hero-fern hero-fern--bottom-left">
        <img src="/assets/img/fern2.svg" alt="Fern decoration" class="fern-image">
    </div>
    <div class="hero-fern hero-fern--top-right">
        <img src="/assets/img/fern1.svg" alt="Fern decoration" class="fern-image">
    </div>
</section>