<section class="hero bg-pattern--fern">
    <div class="hero-logo">
        <div class="hero-logo-desktop">
            {% if site.data.theme.homepage.logo_desktop %}
            <img src="{{ site.data.theme.homepage.logo_desktop }}" alt="{{ site.data.theme.homepage.logo_alt_text }}"
                class="hero-logo-img">
            {% else %}
            {% include svg/logo.html %}
            {% endif %}
        </div>
        <div class="hero-logo-mobile">
            {% if site.data.theme.homepage.logo_mobile %}
            <img src="{{ site.data.theme.homepage.logo_mobile }}" alt="{{ site.data.theme.homepage.logo_alt_text }}"
                class="hero-logo-img">
            {% else %}
            {% include svg/logo-mobile.html %}
            {% endif %}
        </div>
        <div class="hero-logo-text">
            <p>{{ site.data.theme.homepage.hero_tagline | default: "Crafting Nature's Masterpieces, One Epic Landscape
                at a Time" }}</p>
        </div>
            <a href="{{ site.data.theme.homepage.hero_cta_link | default: '#' }}" class="hero-cta-button">
                {{ site.data.theme.homepage.hero_cta_text | default: "Get Started" }}
            </a>
        </div>
    </div>
    {% include fern-decoration-home.html %}
</section>