<!-- Hamburger Button -->
<button class="hamburger-btn" aria-label="Open menu" aria-controls="hamburger-menu-overlay" aria-expanded="false">
    <span></span>
    <span></span>
    <span></span>
</button>

<!-- Hamburger Menu Overlay -->
<div class="hamburger-menu-overlay" id="hamburger-menu-overlay" aria-hidden="true">
    <button class="hamburger-close" aria-label="Close menu">&times;</button>

    <div class="hamburger-menu-grid">
        <div class="hamburger-menu-content">
            <nav class="hamburger-nav">
                <ul>
                    {% for item in site.data.navigation %}
                    <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>



<!-- Navigation -->
<nav class="nav">
    <ul class="nav-list">
        <!-- Logo -->
        <div class="logo-sm">
            {% include svg/logo-sm.html %}
        </div>
        {% for item in site.data.navigation %}
        <li class="nav-item"><a class="nav-link" href="{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</nav>