{% assign testimonial_one = site.data.testimonial['testimonial_one'] %}
{% assign reviews = site.data.reviews.reviews %}
<div class="testimonial-area theme-bg-4 pt-280 pb-110">
    <div class="container custom-container-1">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-title text-center mb-70 wow fadeInUp" data-wow-delay=".3s">
                    <span>{{ testimonial_one.section.heading }}</span>
                    <h2>{{ testimonial_one.section.description }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonial-style-1">
                {% for review in reviews %}
                <div class="single-testimonial wow fadeInUp" data-wow-delay=".{{ forloop.index | times: 2 }}s">
                    <div class="reviewer-info">
                        <h3><a target="_blank" href="{{ review.profile_url }}">{{ review.name }}</a></h3>
                    </div>
                    <p>{{ review.comment }}</p>
                    <div class="star-rating">
                        {% for i in (1..5) %}
                        {% if i <= review.rating %} <i class="fas fa-star"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>