{% assign footer_one = site.data.footer['footer_one'] %}
{% assign footer_bottom = site.data.footer['footer_bottom'] %}
{% assign company = site.data.company %}
<footer>
    <div class="footer-top bg-property theme-bg-2 pt-110 pb-80" data-background="assets/images/footer-1.png">
        <div class="container custom-container-1">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget-1 wow fadeInUp" data-wow-delay=".3s">
                        <div class="footer-title">
                            <h4>{{ footer_one.column1.heading }}</h4>
                        </div>
                        <div class="footer-text">
                            <p>{{ footer_one.column1.description }}</p>
                        </div>
                        <div class="footer-info">
                            <a href="mailto:{{ company.email }}"><i class="fas fa-envelope"></i>{{ company.email }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget-2 wow fadeInUp" data-wow-delay=".5s">
                        <div class="footer-title">
                            <h4>{{ footer_one.column2.heading }}</h4>
                        </div>
                        <div class="footer-menu">
                            <ul class='two-col'>
                                {% for menu in footer_one.column2.menu %}
                                <li><a href="{{ menu.url }}">{{ menu.label }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget-4 wow fadeInUp" data-wow-delay=".9s">
                        <div class="footer-title">
                            <h4>Social Media</h4>
                        </div>
                        <div class="footer-social mt-35">
                            <a target="_blank" href="{{ company.facebook_link }}"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="{{ company.youtube_link }}"><i class="fab fa-youtube"></i></a>
                            <a target="_blank" href="{{ company.instagram_link }}"><i class="fab fa-instagram"></i></a>
                            <a target="_blank" href="{{ company.google_link }}"><i class="fab fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom theme-bg-1 pt-40 pb-30">
        <div class="container custom-container-1">
            <div class="row">
                <div class="text-center col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="copyright">
                        <p>{{ footer_bottom.copyright }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>