{% assign header_top = site.data.header['header_top'] %}
{% assign logo = site.data.header['logo'] %}
{% assign navigation = site.data.header['navigation'] %}
{% assign button = site.data.header['button'] %}
<header>
    <div id="sticky-header" class="header-bottom">
        <div class="container custom-container-1">
            <div class="row d-flex align-items-center">
                <div class="col-xl-2 col-lg-2 col-md-4">
                    <a href="#" class="logo">
                        {% include common/logo.html %}
                    </a>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-8">
                    <div class="header-btn f-right">
                        <a href="{{ button.button_one.url }}" class="l-btn cmk-button cmk-rotate-right">{{
                            button.button_one.label }}</a>
                    </div>
                    <div class="main-menu text-center">
                        <nav id="mobile-menu">
                            <ul>
                                {% for nav in navigation %}
                                <li>
                                    <a href="{{ nav.url }}">{{ nav.label }}</a>
                                    {% if nav.submenu %}
                                    <ul class="submenu">
                                        {% for submenu in nav.submenu %}
                                        <li><a href="{{ submenu.url }}">{{ submenu.label }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {%endif%}
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</header>