@use "../abstract/variables" as *;
@use "../abstract/respond" as *;

// Decorative elements
.decoration {
    position: absolute;
    z-index: 1;
    opacity: 0;
    will-change: opacity, transform;

    &--fern {
        &-bottom-left {
            bottom: -80px;
            left: -200px;

            @include respond(sm) {
                bottom: -100px;
                left: -97px;
            }
        }

        &-top-right {
            top: -160px;
            right: -120px;
            position: fixed;
            z-index: 10;

            @include respond(sm) {
                top: -90px;
                right: -100px;
            }
        }
    }

    &__image {
        width: 600px;
        height: auto;
        opacity: 0.8;

        @include respond(sm) {
            width: 300px;
        }
    }
}

// Background patterns
.bg-pattern {
    position: relative;
    overflow: hidden;
}
