@use "../abstract/variables" as *;
@use "../abstract/respond" as *;

.form {
    &-group {
        margin-bottom: 2rem;
    }

    &-label {
        display: block;
        font-size: 1.6rem;
        color: $color-font;
        margin-bottom: 0.8rem;
        font-weight: 500;
    }

    &-input,
    &-select,
    &-textarea {
        width: 100%;
        padding: 1.2rem;
        border: 2px solid #e0e0e0;
        font-size: 1.6rem;
        font-family: inherit;
        background-color: white;
        transition: $default-transition;
        color: $color-font;

        &:focus {
            outline: none;
            border-color: $color-primary;
            box-shadow: 0 0 0 3px rgba(255, 174, 78, 0.1);
        }

        &::placeholder {
            color: #999;
        }

        &.error {
            border-color: #e74c3c;
        }
    }

    &-textarea {
        resize: vertical;
        min-height: 120px;
    }

    &-select {
        cursor: pointer;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3e%3c/svg%3e");
        background-position: right 0.5rem center;
        background-repeat: no-repeat;
        background-size: 1.5em 1.5em;
        padding-right: 2.5rem;
        appearance: none;
    }
}

.error-message {
    color: #e74c3c;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    min-height: 1.8rem;
}

.character-count {
    font-size: 1.2rem;
    color: #666;
    text-align: right;
    margin-top: 0.5rem;
}

.form-wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;

    @include respond(sm) {
        padding: 0 2rem;
    }
}
