@use "./abstract/variables" as *;
@use "./abstract/respond" as *;

.hero {
    background-color: $color-bg-cream;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    &-fern {
        position: absolute;
        z-index: 1;

        &--bottom-left {
            bottom: 30px;
            left: -80px;

            @include respond(sm) {
                bottom: -45px;
            }

            @include respond(xs) {
                bottom: -60px;
            }
        }

        &--top-right {
            top: -120px;
            right: -30px;

            @include respond(sm) {
                top: -90px;
                transform: translate(100px);
            }

            @include respond(xs) {
                width: 100%;
            }
        }
    }

    &-logo {
        position: absolute;
        z-index: 2;
        width: 100%;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    &-logo-desktop {
        max-width: 400px;
        margin: 0 auto;
        @include respond(sm) {
            display: none;
        }
    }

    &-logo-mobile {
        display: none;
        @include respond(sm) {
            display: block;
            place-self: center;
            width: 250px;
        }
    }
}

.fern-image {
    width: 300px;
    height: auto;
    opacity: 0.8;
}
