@use './abstract/variables' as *;

.hero {
    background-color: $color-bg-cream;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    &-fern {
        position: absolute;
        z-index: 1;

        &--bottom-left {
            bottom: 30px;
            left: -80px;


        }

        &--top-right {
            top: -120px;
            right: -30px;
        }
    }

    &-logo {
        position: relative;
        z-index: 2;
    }
}

.fern-image {
    width: 300px;
    height: auto;
    opacity: 0.8;
}