@use "./abstract/variables" as *;
@use "./abstract/respond" as *;

.hero {
    background-color: var(--color-bg-cream);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    @include respond(sm) {
        overflow: hidden;
    }

    &-fern {
        position: absolute;
        z-index: 1;
        // Initial state - will be overridden by JavaScript
        opacity: 0;
        transition:
            opacity 3s ease-in-out,
            transform 3s ease-in-out;
        will-change: opacity, transform; // Optimize for animations

        &--bottom-left {
            bottom: -80px;
            left: -200px;

            @include respond(sm) {
                bottom: -100px;
                left: -97px;
            }
        }

        &--top-right {
            top: -160px;
            right: -120px;

            @include respond(sm) {
                top: -90px;
                right: -100px;
                transform: translate(100px);
            }
        }
    }

    &-logo {
        position: absolute;
        z-index: 2;
        width: 100%;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 50%);
        max-width: 600px;
    }

    &-logo-desktop {
        @include respond(sm) {
            display: none;
        }
    }

    &-logo-mobile {
        display: none;
        @include respond(sm) {
            display: grid;
            place-self: center;
            width: 250px;
        }
    }

    &-logo-text {
        p {
            font-size: 1.6rem;
            text-align: center;
            color: $color-dark-grey;
            margin-top: 2rem;
        }
    }
}

.fern-image {
    width: 600px;
    height: auto;
    opacity: 0.8;

    @include respond(sm) {
        width: 300px;
    }
}
