@use "./abstract/variables" as *;
@use "./abstract/respond" as *;

.hero {
    background-color: var(--color-bg-cream);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    @include respond(sm) {
        overflow: hidden;
    }



    &-logo {
        position: absolute;
        z-index: 2;
        width: 100%;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 50%);
        max-width: 600px;
    }

    &-logo-desktop {
        @include respond(sm) {
            display: none;
        }
    }

    &-logo-mobile {
        display: none;
        @include respond(sm) {
            display: grid;
            place-self: center !important;
            margin: 0 auto !important;
            width: 250px;
        }
    }

    &-logo-text {
        p {
            font-size: 1.6rem;
            text-align: center;
            color: $color-dark-grey;
            margin-top: 2rem;
        }
    }
}


